.pattern{
    background-color: lightblue;
    height: 70px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-repeat: repeat;
    background-size: 20%;
}

h1{
    color: white;
    position: absolute;
    margin-top: 2%;
    font-family: verdana;
    line-height: 150%;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.titolo-principale{
    font-size: 50px;
}

.booleaners-blue{
    color: blue;
    font-size: 20px;
}

.text-evidenziato{
    background-color: yellow;
}

table{
    border-collapse: collapse;
    text-align: left;
}

thead{
    background-color: blue;
    color: white;
    text-align: center;
}


.celle-celesti{
    background-color: lightblue;
}

td{
    height: 60px;
}

.scritta-finale{
    color: grey;
    font-size: 25px;
}

.primo-computer{
    text-align: left;
    font-size: 20px;
    color: white;
    background-image: url(../img/monitor.jpg);
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
}


.secondo-computer{
    text-align: left;
    font-size: 20px;
    color: white;
    height: 250px;
    background-image: url(../img/graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}